.botao-inserir{
    background-color: #006AA6;
    border-radius: 0;
    transition: 0.5s;
}
.botao-inserir:hover{
    background-color: #fff;
    color: #006AA6 !important;
    border: 1px solid #006AA6;
    transition: 0.5s;
}
.botao-editar{
    background-color: #F6BB4E;
    border-radius: 0;
    transition: 0.5s;
}
.botao-editar:hover{
    background-color: #fff;
    color: #F6BB4E !important;
    border: 1px solid #F6BB4E;
    transition: 0.5s;
}
.botao-excluir{
    background-color: #DD4B39;
    border-radius: 0;
    transition: 0.5s;
}
.botao-excluir:hover{
    background-color: #fff;
    color: #DD4B39 !important;
    border: 1px solid #DD4B39;
    transition: 0.5s;
}
.mensagem-de-erro{
    border: 1px solid #ff0000;
    background-color: #fff;
}
.mensagem-de-sucesso{
    border: 1px solid #28A745;
    background-color: #fff;
}
.input-label{
    background: #006AA6;
    color: #fff;
    padding: 7px;
    font-weight: bold;
    box-shadow: 1px 1px 2px #000;
    border: none;
    border-radius: 0;
    transition: 0.5s;
}
.input-label:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 2px #000;
    transition: 0.5s;
    cursor: pointer;
}
.reset-input{
    color: #ff0000 !important;
    cursor: pointer;
}

.logo-video{
    display: none;
}
.logo-poster{
    display: none;
}
.logo-poster-editar{
    display: none;
}
.logo-editar{
    display: none;
}

.error{
    color: #ff0000;
}